.image-container {
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid #bbb;
	margin: 1em 0;
	max-width: 100%;
	cursor: pointer;

	@include transition(height .5s);

	img {
		margin: 0;
	}

	.wp-caption-text {
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		color: #ececec;
		text-align: center;
		margin-bottom: 0;
		padding: 10px 0;
	}

	.toggletext {
		@include font-size(1);
		margin: 0;
		display: block;
	}
}