#nav {

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;
		@include linear-gradient($darkBackground, darken($darkBackground, 20%));
	}

	li {
		padding: .5em 1em;
		@include font-size(2);
		width: 100%;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);

		a {
			@include inline-block;
			width: 100%;
			text-align: center;
		}
	}

	.wp-post-image {
		display: none;
	}

	&.opened {
		max-height: 9999px;
	}

}

#nav-toggle {
	@extend .icon-menu;
	display: inline-block;
	position: relative;
	z-index: 200;
	overflow: hidden;
	@include font-size(4);

	@media screen and (max-width: $smallBreak) {
		width: 40px;
		width: 4rem;
	}

}

.js #nav {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}

@media screen and (min-width: $largeBreak) {
	.js #nav {
		position: relative;
		max-height: none;
	}
	#nav-toggle {
		display: none;
	}

	#nav {

		li {
			@include inline-block;
			width: auto;
			left: -1px;
			// Shuffle this over because inline-block produces a space for every return/tab char.
			position: relative;
			padding: 0;

			a {
				color: lighten($linkColor, 20%);
				@include inline-block;
				font-size: $nav-bar-height/2.5;
				line-height: $nav-bar-height;
				margin: 0 1em 0 0;
				border-right: 1px solid #494949;

				&:hover {
					background-color: rgba(0, 0, 0, 0.6);
					text-decoration: none;
					color: #ececec;
				}
			}
		}

		.active {
			background-color: $linkColor;
			color: #ececec;
		}

		.nav-bar {

			margin: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			width: 100%;
			overflow: hidden;

			.wp-post-image {
				display: inline-block;
				height: $nav-bar-height;
				width: auto;
				float: left;
				margin: 0;
				border-right: 1px solid #ececec;
			}
		}

		ul {
			height: $nav-bar-height;
		}

	}
// #nav

	body {
		margin-top: $nav-bar-height
	}

	.admin-bar #nav .nav-bar {
		top: 28px;
	}

}
