/* PRINT */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important
	}
/* Black prints faster */
	a, a:visited {
		color: #444 !important;
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""
	}
/* Don't print links for images, javascript or internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
/* Repeat header row at top of each printed page */
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 1.5in 1.5in 2in 1.5in;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3
	}
	h2, h3 {
		page-break-after: avoid
	}

	.meta-col {
		display:none;
	}

	.content-col {
		width: auto !important;
		float: none;
	}

	#nav, #nav-toggle, .page-marker, .toggletext {
		display: none !important;
	}

	section h1 {
		page-break-before: always;
	}

	.alert {
		border: 1px solid black;
	}

	.docs-page {
		border: 0;
	}

	.image-container {
		page-break-inside: avoid;
		border: 0;
		height: auto !important;
		width: auto !important;
		margin: 0;
	}

	.image-container img {
		height: auto !important;
		width: auto !important;
		max-height: 100%;
	}

	h1[id]:before,
	h2[id]:before,
	h3[id]:before {
		content: none;
	}

	.docs-page section {
		margin: 0;
	}

}