@import 'bourbon/bourbon';
@import 'mixins';
@import 'variables';
@import 'front-page';

.book-block {

	background-image:none;
	background-color: none;
	margin-bottom: 0;

	.book {
		width: 50px;
	}

	h2 {
		color: $darkBackground;
		font-size: 1.5em;
		line-height: 1;
		margin-bottom: .5em;
		margin-top:-.5em;
	}

	.book-info {
		font-size: 12px;
		line-height: 1.5;
	}

	.book-block-inner {
		padding: 1% 1% 2% 1%;
	}
}